body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
}
.section {
  margin-top: 7vw;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 96vw;
  padding-bottom: 2vw;
  min-height: 35vw;
  background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1349,w_2400,x_0,y_138/v1628703164/shape/mentalfloss/649273-youtube-rick_astley.jpg?itok=8JRk0Avu");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 5vw;
}
.text-container {
  color: white;
  float: left;
  width: 48vw;
  padding-top: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.yt-container {
  float: right;
  width: 48vw;
  padding-top: 2vw;
  padding-right: 1vw;
  padding-left: 1vw;
}
.yt-container iframe {
  border-radius: 3vw;
  width: 46vw;
  height: 26vw;
}
.footer {
  width: 100vw;
  background: #000;
  color: white;
  bottom: 0;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180CB;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 1000px) {
  .section {
  margin-top: 7vw;
  margin-left: 2vw;
  margin-right: 2vw;
  min-height: 60vh;
  background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1349,w_2400,x_0,y_138/v1628703164/shape/mentalfloss/649273-youtube-rick_astley.jpg?itok=8JRk0Avu");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 5vw;
}
  .text-container {
  color: white;
  float: center;
  width: 96vw;
  padding-top: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
  .yt-container {
  float: center;
  width: 96vw;
  padding-top: 2vw;
  padding-right: 1vw;
  padding-left: 1vw;
}
  .yt-container iframe {
  border-radius: 3vw;
  width: 94vw;
  height: 53vw;
}
}
::-webkit-scrollbar {
    display: none;
}
