@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
 body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-size: 15px;
  transition: all 0.4s;
  font-family: Sora;
  background: #000;
  color: #fff;
  background-repeat: no-repeat;
}
html {
  overflow-x: hidden !important;
}
a, a:hover {
  text-decoration: none;
}
.form{
    margin-top: 50px;
    transition all 4s ease-in-out;
}
.form-control{
    width:800px;
    margin: auto;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    margin-top: 16px;
    font-size: 18px;
    min-height: 40px;
     }
input{
    height: 45px;
    background-color: #fff;
    color: #000;
    border-color: transparent;
    text-align: center;
  }
.input-cont input{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 110px;
    color:#000;
    border-radius: 15px;
}
.contactform-label{
    color: #fff;
    font-size: 130%;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center; 
}
.contect {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 30px;
  background-color: #000;
  color: #fff;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
  opacity: 0.9;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
.item-bg {
  display: none;
}
.item-bg.active {
  display: none;
}
.news-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (max-width: 1300px) {
  .news-slider {
    max-width: 1000px;
  }
}
@media screen and (max-width: 576px) {
  .news-slider {
    margin-top: 45px;
  }
}
.news-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.news-slider__item {
  width: 400px;
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .news-slider__item {
    width: 340px;
  }
  .form-control{
    width: 85vw;
  }
}
.news-slider__item.swiper-slide {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-prev, .news-slider__item.swiper-slide-next {
  opacity: 1;
  pointer-events: auto;
}
.news-slider__ctr {
  position: relative;
  z-index: 12;
}
.news-slider__arrow {
  background: #fff;
  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}
.news-slider__arrow:focus {
  outline: none !important;
}
.news-slider__arrow .icon-font {
  display: inline-flex;
}
.news-slider__arrow.news-slider-prev {
  left: 15px;
  transform: translateY(-50%);
}
.news-slider__arrow.news-slider-next {
  right: 15px;
  transform: translateY(-50%);
}
.news-slider__pagination {
  text-align: center;
  margin-top: 50px;
}
.news-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: #fff;
  opacity: 0.2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.news-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
  width: 100px;
  transition-delay: 0s;
}
@media screen and (max-width: 576px) {
  .news-slider__pagination .swiper-pagination-bullet-active {
    width: 70px;
  }
}
.news__item {
  padding: 40px;
  color: #fff;
  border-radius: 10px;
  display: block;
  transition: all 0.3s;
}
@media screen and (min-width: 800px) {
  .news__item:hover {
    color: #222222;
    transition-delay: 0.1s;
  }
  .news__item:hover .news-date, .news__item:hover .news__title, .news__item:hover .news__txt {
    opacity: 1;
    transition-delay: 0.1s;
  }
  .news__item:hover .news__img {
    box-shadow: none;
  }
}
.news__item.active {
  color: #222222;
}
.news__item.active .news-date, .news__item.active .news__title, .news__item.active .news__txt {
  opacity: 1;
}
.news__item.active .news__img {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .news__item {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .news__item {
    padding: 20px;
  }
}
.news-date {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.3s;
}
@media screen and (max-width: 576px) {
  .news-date {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.news-date__title {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .news-date__title {
    margin-right: 10px;
  }
}
.news-date__txt {
  font-size: 16px;
}
.news__title {
  font-size: 25px;
  font-weight: 500;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity 0.3s;
}
@media screen and (max-width: 576px) {
  .news__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.news__txt {
  margin: 10px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.news__img {
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  height: 200px;
  margin-top: 30px;
  width: 100%;
  transition: all 0.3s;
  transform-origin: 0% 0%;
}
@media screen and (max-width: 576px) {
  .news__img {
    height: 180px;
    margin-top: 20px;
  }
}
.news__img img {
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
 @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
.top{
  height: 100vh;
}
.top-img-cont{
  width: 50vw;
  height: 100vh;
  float: right;
}
.top-img-cont img{
  width: 50vw;
  height: 100vh;
}
.top-text-cont{
  width: 50vw;
  float: left;
  text-align: center;
  max-height: 100vh;
  font-size: 40px;
  font-weight: 700;
  padding-top: 40vh;
}
.moving_background_gradient {
    background: url(https://media4.giphy.com/media/xT0xepIsg7kK2ZZO0g/200w.webp?cid=ecf05e47c7x8w04ntrx8eboq2i6z69xoxkllraomr10i1vuc&ct=g&rid=200w.webp);
    background-size: cover;
    background-position: 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 900;
}
.button {
    border-radius: 50px;
    background: #fff;
    color: #000;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}
iframe{
  width: 480px;
  height: 270px;
}
a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    font-size: 20px;
}
.abt{
      background: #fff;
    color: #000;
    min-height: 500px;
    width: 100%;
    text-align: center;
    margin-bottom: -60px;
}
.contact{
  min-height: 500px;
  width: 100%;
  text-align: center;
}
.wax img{
  margin-top: -60px;
  z-index: 2;
}
#countdown {
  width: 50%;
  margin: 0 auto;
  padding: 15px 0 20px 0;
  color: #000;
  font-weight: bolder;
}
li {
    margin: 0 -3px 0 0;
    padding: 0;
    display: inline-block;
    width: 25%;
    font-size: 72px;
    font-size: 6vw;
    text-align: center;
}  
li .label {
      color: #adafb2;
      font-size: 18px;
      font-size: 1.5vw;
      text-transform: uppercase;
    }
@media screen and (max-width: 800px) {
.top-img-cont{
  display:none;
}
.top-img-cont img{
  display:none;
}
.top-text-cont{
  width: 100vw;
  text-align: center;
  max-height: 100vh;
  font-size: 40px;
  font-weight: 700;
  padding-top: 40vh;
}
}
@media screen and (max-width: 500px){
  iframe{
    width: 96vw;
    height: 54vw;
  }
}
 ::-webkit-scrollbar {
    display: none;
}
